<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/header-footer.css" rel="stylesheet" />
    <link href="~/Content/content.css" rel="stylesheet" />
    <link href="~/Content/Font/fontawesome-free-6.4.2-web/css/all.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>



</head>
<body>
    <header class="main" style="height: 90px">
        
            <div class="main-header" style="height:90px">
                <div class="container" style="max-width: 1140px; height: 90px">
                    <div class="flex-container-header">
                        <div class="header-wrap-logo">
                            <div class="wrap-logo">
                                <a href="Home">
                                    <img style="height:auto" src="https://file.hstatic.net/1000281824/file/tote-1_33445b051a404bb790b6d0df0275ac8d.png" alt="Day la anh" class="logo" />
                                </a>
                                
                                <div class="search">
                                    <i class="fa-solid fa-magnifying-glass" style="color: #c7c7c7; margin: 0 10px"></i>

                                    <input type="text" name="search" placeholder="Tìm kiếm sản phẩm..." class="search-item" />

                                </div>
                                <a href="Cart" class="cart">
                                    <i class="cart-icon fa-solid fa-cart-shopping"></i>
                                    <div class="cart-content">
                                        Giỏ hàng
                                    </div>
                                    <div class="count">0</div>
                                </a>
                            </div>
                        </div>
                        <div class="header-wrap-main">
                            <ul class="header-list">
                                <li class="list-item"><a href="Home">Trang chủ</a></li>
                                <li class="list-item"><a href="SanPham">Sản phẩm</a></li>
                                <li class="list-item"><a href="Store">Store</a></li>
                                <li class="list-item"><a href="GioiThieu">Giới thiệu</a></li>
                            </ul>
                        </div>
                        </div>
                    </div>
        </div>
        



    </header>
    <content>

        @RenderBody()

    </content>
    <footer class="main-footer">
        <div class="footer-info">
            <div class="container" style="max-width: 1140px;max-height:482px">

                <!-- Chuyển về dạng mobile -->
                <div class="contact-details">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="contact-info">
                                    <div class="contact-info-box" style="display: grid;">
                                        <span class="contact-info-text">Bán hàng 9:00 - 22:00</span>
                                        <span class="contact-info-text">
                                            <i class="fa fa-phone-square" aria-hidden="true"></i>
                                            <a>0336311117</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="contact-info">
                                    <div class="contact-info-box" style="display: grid;">
                                        <span class="contact-info-text">Khiếu nại 9:00 - 21:30</span>
                                        <span class="contact-info-text">
                                            <i class="fa fa-phone-square" aria-hidden="true"></i>
                                            <a>0775913335</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="expand-button" id="expand-info">
                                    <div class="expand-button-box" onclick="toggleInfo()">
                                        <span class="expand-button-text expand-button-initial">Xem thêm thông tin</span>
                                        <span class="expand-button-icon" id="expand-icon">
                                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    function toggleInfo() {
                        var infoBox = document.getElementById("expand-info");
                        var expandIcon = document.getElementById("expand-icon");

                        // Kiểm tra trạng thái hiển thị của thông tin mở rộng
                        if (infoBox.classList.contains("expanded")) {
                            infoBox.classList.remove("expanded");
                            expandIcon.innerHTML = '<i class="fa fa-angle-down" aria-hidden="true"></i>';
                        } else {
                            infoBox.classList.add("expanded");
                            expandIcon.innerHTML = '<i class="fa fa-angle-up" aria-hidden="true"></i>';
                        }
                    }
                </script>
                <!-- Chuyển về dạng mobile -->
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12 footer-list ">
                        <h3 class="col-footer">Về DEGREY</h3>
                        <div class="col-3-item text-white"><p>Cái tên Degrey được tạo ra rất ngẫu hứng, xuất phát từ “Chuỗi ngày u buồn về sự nghiệp, tương lai trong quá khứ của chính mình” – theo lời chia sẻ của Degrey’s founder.</p></div>
                        <div class="col-3-item1 text-white">CÔNG TY TNHH DEGREY</div>
                        <div class="col-3-item text-white"><p>0315986019 0315986019 cấp ngày 31/10/2019 tại Sở kế hoạch đầu tư TPHCM</p></div>
                        <img class="logo-footer" src="https://file.hstatic.net/1000281824/file/dathongbao_22c990fc936b40e0a50a1b646f478284.png" alt="logo footer" />

                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12 footer-list-2">
                        <div class="col-3-item text-white address">Địa chỉ</div>
                        <div class="col-3-item text-white where">-Sài Gòn:</div>
                        <div class="col-3-item text-white">
                            <p>
                                43 Huỳnh Văn Bánh P.17 Q.Phú Nhuận<br>
                                1041 Luỹ Bán Bích P.Tân Thành Q.Tân Phú
                            </p>
                        </div>
                        <div class="phone col-3-item text-white">
                            <b>Điện thoại: </b>
                            0336311117
                        </div>

                        <div class="email col-3-item text-white">
                            <b>Email:  </b>
                            degrey.vn@gmail.com
                        </div>

                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12 footer-list">
                        <h3 class="col-footer">Hỗ trợ khách hàng</h3>
                        <ul class="pro-list">
                            <li><a href="GioiThieu">Giới thiệu Degrey</a></li>
                            <li><a href="Store">Hệ thống cửa hàng</a></li>
                            <li><a href="HuongDanDatHang">Hướng dẫn đặt hàng</a></li>
                            <li><a href="ChinhSachVaQuyDinh">Chính sách và quy định</a></li>
                            <li><a href="ChinhSachBaoMat">Chính sách bảo mật</a></li>
                            <li><a href="ThongTinSoHuu">Thông tin hữu ích</a></li>

                        </ul>

                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12 footer-list">
                        <h3 class="col-footer">Chăm sóc khách hàng</h3>
                        <div class="box-contact">
                            <i class="fa-solid fa-phone icon-call"></i>
                            <div class="contact">
                                <span>0336311117</span><br>
                                <u>degrey.vn@gmail.com</u>
                            </div>
                        </div>
                        <div class="footer-list-social">
                            <h4 class="col-footer1">
                                Follow Us
                            </h4>

                            <ul class="social">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            </ul>


                        </div>


                    </div>
                </div>




            </div>
        </div>
    </footer>
    <div class="footer-copyright" style="max-height:45.6px">
        <div class="container" >
            <p>
                Copyright © 2023 <a href="#" style="color: white;text-decoration: none;"> DEGREY VIETNAM</a>
                <a>Powered by Haravan</a>
            </p>
        </div>
        


    </div>
</body>

</html>
