
@{
    ViewBag.Title = "ChinhSachVaQuyDinh";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    <link href="~/Content/store.css" rel="stylesheet" />
    <link href="~/Content/sanpham.css" rel="stylesheet" />
    
}



<div class="main-content-product" style="height:4200px">
    <div class="breadcrumb-all">
        <div class="container" style="height:100%">
            <div class="wrap-breadcrumb">
                <ol class="breadcrumb-list">
                    <li><a href="Home">Trang chủ</a></li>
                    <li style="color: #777777;">Tất cả sản phẩm</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8 col-xs-12 pageDetail-content-left">
                <div class="pageDetail-content">
                    <div class="heading-pageDetail"><h1>CHÍNH SÁCH VÀ QUY ĐỊNH</h1></div>
                    <div class="content2-pageDetail">
                        <p style="font-size:14px; margin-bottom:10px;">
                            <b>CHÍNH SÁCH VÀ QUY ĐỊNH</b>
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            <b>HƯỚNG DẪN MUA HÀNG VÀ THANH TOÁN TẠI DEGREY </b>
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            <b>I - MUA HÀNG OFFLINE - PHƯƠNG THỨC GIAO HÀNG - TRẢ TIỀN MẶT </b>
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            – Phương thức Giao hàng – Trả tiền mặt chỉ áp dụng đối với những khu vực <b>DEGREY</b>
                            hỗ trợ giao nhận hoặc trả tiền mua hàng trực tiếp tại cửa hàng<b>DEGREY</b>
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;"> – Với phương thức thanh toán trực tiếp Quý khách có thể đặt hàng trên Website DEGREY.VN .</p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            Nhân viên chúng tôi sẽ tiến hành gọi xác nhận đơn hàng, xuất hàng cho Quý khách và xác nhận
                            ngày giờ giao hàng với Quý khách sau khi xuất hàng.
                        </p>
                        <p>
                            – Quý khách có trách nhiệm thanh toán đầy đủ toàn bộ giá trị đơn hàng cho Nhân viên giao nhận hoặc
                            Nhân viên bán hàng và chăm sóc khách hàng của  <b>DEGREY</b>
                            ngay khi hoàn tất kiểm tra hàng hóa và nhận Phiếu giao hàng kiêm phiếu xuất kho.Hoặc có thể thanh toán quẹt thẻ
                            <b>ATM, VISA, Ví MOMO</b> trực tiếp tại cửa hàng  <b>DEGREY</b>
                            Quý khách thanh toán đúng số tiền trên Phiếu đã ghi, nếu có bất cứ thắc mắc nào Quý khách gọi lại cho&nbsp; <b>DEGREY.&nbsp;</b>
                            để được thông tin cụ thể hơn.
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            &nbsp;
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;"><b>II – MUA HÀNG ONLINE – PHƯƠNG THỨC THANH TOÁN TRƯỚC</b></p>
                        <p>
                            <b>Khách hàng mua hàng online có thể lựa chọn các hình thức như sau:</b>
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            – Gọi điện để được tư vấn và đặt hàng online trực tiếp với bộ phận chăm sóc khách hàng của
                            <b>DEGREY</b> qua số <b>0336311117</b>
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;"> – Khách hàng truy cập website: <b>DEGREY.VN</b> để mua hàng và hoàn thành thông tin đơn hàng.</p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            Chuyển tiền, chuyển khoản, thanh toán trực tiếp bằng tiền mặt hoặc qua thẻ tại
                            các hệ thống ngân hàng hoặc trung tâm giao dịch của <b>DEGREY</b>
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            <b>2.1 Chuyển tiền/chuyển khoản: <i>(thông tin tài khoản xem cuối bài viết)</i></b>
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            -Áp dụng cho khách hàng ngoài khu vực nội thành (phạm vi giao hàng từ 10km đến 100km tính từ các trung tâm của
                            <b>DEGREY</b> và khách hàng ở tỉnh thành khác có nhu cầu sử dụng phương thức thanh toán này. Các bước tiến hành như sau:
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            1. Đến Ngân hàng gần nơi ở của Quý khách nhất để chuyển tiền/chuyển khoản theo thông tin chi tiết
                            <b>DEGREY</b> cung cấp: Số tiền, Tên đơn vị, số tài khoản, Ngân hàng mở tài khoản, nội dụng chuyển tiền/chuyển khoản (Mã đơn hàng).
                        </p>
                        <p>
                            2. Thông báo cho <b>DEGREY</b> (bằng điện thoại, email, SMS, fax, …) khi Quý khách đã thực hiện chuyển tiền/chuyển khoản.
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            3. Hoặc Quý khách vui lòng liên hệ với Bộ phận Bán hàng trực tuyến của <b>DEGREY</b> theo số
                            <b>0336311117</b>, để thông báo đã chuyển tiền.
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            4. Ngay khi nhận được báo cáo xác nhận từ Ngân hàng,
                            <b>DEGREY </b> sẽ tiến hành thông báo lại cho Quý khách đồng thời xuất hàng giao hàng cho Quý khách trong
                            thời gian quy định trong mục Chính sách vận chuyển.
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            – <b>DEGREY</b> sẽ không chịu trách nhiệm về sai sót trong quá trình chuyển khoản hoặc chuyển khoản sai thông tin,
                            Quý khách phải làm việc với Ngân hàng để được xử lý ổn thỏa, chỉ khi nào tiền được chuyển đến tài khoản của
                            <b>DEGREY, DEGREY</b> sẽ xác nhận với Quý khách. Trong một số tình huống Quý khách có thể nhờ phía Ngân hàng mà Quý khách thực hiện
                            giao dịch hoặc Ngân hàng của <b> DEGREY </b> sử dụng để kiểm tra đối chứng cần thiết.
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            &nbsp;
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            <b> III – MUA HÀNG ONLINE – PHƯƠNG THỨC (COD) NHẬN HÀNG THANH TOÁN </b>
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            Đối với  tất cả các đơn hàng được đặt hàng thành công với hình thức <b> COD (nhận hàng thanh toán tại nhà) </b>,
                            khách hàng sẽ được nhân viên của <b>DEGREY</b> liên hệ tư vấn xác nhận đơn hàng và tuỳ vào trường hợp để hướng
                            dẫn khách hàng <b>ĐẶT CỌC TRƯỚC</b> từ 100.000đ – 500.000đ với đơn hàng > 02 triệu được nhân viên <b>DEGREY</b>  thông
                            báo cụ thể khi liên hệ. Giá trị đặt cọc sẽ được trừ trực tiếp vào giá trị sản phẩm,  khi nhận hàng bạn chỉ cần thanh toán số tiền còn lại.
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            Hình thức đặt cọc linh hoạt, bạn có thể chuyển khoản qua các tài khoản của <b>DEGREY</b>  cuối trang này,
                            cũng có thể chuyển tiền qua các ví điện tử hoặc có thể gửi mã card điện thoại giá trị tương ứng tới Hotline của <b>DEGREY</b> .
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            Ngay sau khi <b>DEGREY</b>  xác nhận đã nhận được đặt cọc của quý khách hàng thành công, nhân viên <b>DEGREY</b>  sẽ lên đơn hàng,
                            test sản phẩm đóng gói cẩn thận và chuyển tới đơn vị vận chuyển như Giao hàng tiết kiệm, Grab, …chuyển tới quý khách hàng.
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            &nbsp;
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            <b>CHÍNH SÁCH GIAO NHẬN</b>
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            <b>1. DỊCH VỤ ÁP DỤNG :</b>
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            Tất cả các khách hàng mua sản phẩm hàng hoá quần, áo và phụ kiện tại  <b>DEGREY</b>  có nhu cầu giao hàng trực tiếp tại nhà.
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            <b>2. PHẠM VI ÁP DỤNG:</b>
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            <b> 2.1. Giao hàng trong nội thành :</b>
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            – Thu phí 20.000đ/ đơn hàng với các quận nội thành ,
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            – Đối với các đơn hàng có nhu cầu giao gấp trong ngày ,  nhân viên của  <b>DEGREY</b> sẽ thoả thuận phí vận chuyển với khách hàng.
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            <b> 2.2 . Giao hàng ngoại thành và các tỉnh :</b>
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            – Phí vận chuyển với các quận, huyện ngoại thành nhân viên của <b>DEGREY</b> Y sẽ thỏa thuận với khách hàng
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            – Phí vận chuyển các tỉnh sẽ tính theo cước bưu điện, cước dịch vụ của nhà chuyển phát.
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            Lưu ý : Khách hàng vui lòng thanh toán chi phí đổi trả hàng và chi phí vận chuyển phát sinh (nếu có).
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            <b> 3. THỜI GIAN GIAO HÀNG :</b>
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            Các đơn hàng mua thông thường ( không có ưu đãi giá) trong ngày trước 18h30 trong phạm vi 10 km :
                            sẽ được xử lý đơn hàng và giao trong 1 - 3 ngày hoặc theo thời gian yêu cầu cụ thể của quí khách.
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            Các đơn hàng mua theo giá thông thường ( không có ưu đãi giá), sau 19h00: sẽ được phục vụ vào ngày hôm
                            sau hoặc tùy theo tình hình của nhà vận chuyển tại thời điểm đặt hàng.
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            – Trong một số trường hợp khách quan  <b>DEGREY</b> có thể giao hàng chậm trễ do những điều kiện bất khả kháng như thời tiết xấu,
                            điều kiện giao thông không thuận lợi, xe hỏng hóc trên đường giao hàng, trục trặc trong quá trình xuất hàng.
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            – Trong thời gian chờ đợi nhận hàng, Quí khách có bất cứ thắc mắc gì về thông tin vận chuyển xin vui lòng
                            liên hệ tổng đài toàn chăm sóc khách hàng <b>0336311117</b> của  <b>DEGREY</b>  để nhận trợ giúp.
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            <b> 4. ĐÓNG GÓI GIAO HÀNG Ở XA </b>
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            Đối với đơn hàng giao hàng ở xa thông qua dịch vụ vận chuyển thuê ngoài, để an toàn cho hàng hóa của quí khách,
                            <b>DEGREY</b> sẽ đóng gói hàng hóa trong các bao bì hoặc thùng hàng chuyên dụng lớn hơn kích thước hàng.
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            &nbsp;
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            <b> 5. CHÍNH SÁCH KIỂM HÀNG </b>
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            – Quí khách có trách nhiệm kiểm tra hàng hóa khi nhận hàng. Khi phát hiện hàng hóa bị hư hại hoặc sai hàng hóa thì ký
                            xác nhận tình trạng hàng hóa với Nhân viên giao nhận và thông báo ngay cho Bộ phận chăm sóc khách hàng <b>0336311117</b>
                        </p>
                        <ul style="font-size:14px; margin-bottom:10px;">
                            <li>
                                Hàng hoá sẽ được áp dụng chính sách đổi trả khi phát sinh vấn đề
                            </li>
                        </ul>
                        <p style="font-size:14px; margin-bottom:10px;">
                            – Sau khi quí khách đã ký nhận hàng mà không ghi chú hoặc có ý kiến về hàng hóa
                            <b>DEGREY</b> không có trách nhiệm với những yêu cầu đổi trả vì hư hỏng, sai hàng hóa,… từ quí khách sau này.
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            &nbsp;
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            <b> 6. TRÁCH NHIỆM CỦA CÁC BÊN CUNG CẤP DỊCH VỤ VẬN CHUYỂN. </b>
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            – Nếu dịch vụ vận chuyển do<b>DEGREY</b> hoặc do chúng tôi chỉ định sẽ chịu trách nhiệm với hàng hóa và các rủi ro
                            như mất mát hoặc hư hại của hàng hóa trong suốt quá trình vận chuyển hàng từ <b>DEGREY</b> đến quí khách.
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            – Nếu dịch vụ vận chuyển do quí khách chỉ định và lựa chọn thì quí khách sẽ chịu trách nhiệm với hàng hóa và các rủi ro như mất mát hoặc hư hại của
                            hàng hóa trong suốt quá trình vận chuyển hàng từ <b>DEGREY</b> đến quí khách. Khách hàng sẽ chịu trách nhiệm cước phí và tổn thất liên quan.
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            – Các bên có trách nhiệm cung cấp dịch vụ vận chuyển theo đúng yêu cầu, tiêu chuẩn dịch vụ đã đề ra và đã được thỏa thuận trong hợp đồng hợp tác; cam kết thực hiện chính sách giao hàng và
                            chính sách bồi thường thiệt hại nếu lỗi do đối tác vận chuyển gây ra thiệt hại người mua trong quá trình cung cấp dịch vụ.
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            – Bên vận chuyển có trách nhiệm cung cấp các chứng từ liên quan tới hàng hóa khi được yêu cầu bởi cơ quan quản lý nhà nước có
                            thẩm quyền trong quá trình thực hiện dịch vụ giao nhận.
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            &nbsp;
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            <b>CHÍNH SÁCH BẢO HÀNH </b>
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            <b>
                                I. BẢO HÀNH
                            </b>
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            Bảo hành sản phẩm là: khắc phục những lỗi xảy ra do lỗi của DEGREY hoặc tiến hành đổi mới sản phẩm tuỳ vào từng trường hợp .
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            <b>A. Quy định về bảo hành</b>
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            – Sản phẩm được bảo hành miễn phí nếu sản phẩm đó chưa qua sử dụng, còn tag nhãn và hóa đơn mua hàng
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            – Degrey hỗ trợ đổi sản phẩm trong vòng <b>30 ngày</b> kể từ ngày mua hàng hoặc nhận được hàng.
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            <b>B. Những trường hợp không được bảo hành</b>
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            – Sản phẩm đã hết thời hạn khi quá hạn  <b>30 ngày</b> kể từ ngày mua hàng hoặc nhận được hàng.
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            – Tự ý sử dụng các hoá chất tẩy rửa không đúng theo phiếu hướng dẫn sử dụng của <b>DEGREY</b>
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            – Sản phẩm không có: Nhãn tag giấy Degrey, Hoá đơn mua hàng .
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            – Trường hợp sản phẩm của Quý khách hàng không có hoá đơn mua hàng của <b>DEGREY</b> hay nhầm lẫn thông tin trên Phiếu mua hàng: Trong trường hợp này,
                            bộ phận bảo hành sẽ đối chiếu với số phiếu xuất gốc lưu tại hệ thống của<b>DEGREY</b>,
                            hóa đơn, phần mềm của <b>DEGREY</b>, nếu có sự sai lệch thì sản phẩm của Quý khách không được bảo hành. Kính mong Quý khách hàng thông cảm!
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            – Bảo hành không bao gồm vận chuyển hàng và giao hàng.
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            <b>– C. Chính sách hoàn tiền</b>
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            <b>- DEGREY không áp dụng trả hàng hoàn tiền. Khi có lỗi sản phẩm sẽ được áp dụng theo chính sách đổi và bảo hành như đã nêu.</b>
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            <b>II. ĐỊA ĐIỂM BẢO HÀNH VÀ BẢO TRÌ</b>
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            Tất cả các sản phẩm được bảo hành tại showroom của <b>DEGREY</b>.
                            Quý khách hàng có thể liên hệ với nhân viên bảo hành của <b>DEGREY</b> để được hướng dẫn thêm thông tin (nếu cần). 033.63.1111.7
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            <b>IV. NHỮNG CHÍNH SÁCH CAM KẾT BẢO HÀNH, ĐỔI HÀNG</b>
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            <b>a. Các sản phẩm quần, áo&nbsp;</b> : bán ra trong vòng 30 ngày , nếu bị lỗi kỹ thuật do sản xuất thì sẽ được đổi sản
                            phẩm mới cùng loại khác kích thước (size) theo điều kiện đổi ở bên dưới
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            <b>b. Các sản phẩm phụ kiện</b>: tùy theo từng mặt hàng (không bao gồm sản phẩm đồ lót, vớ/tất,...), nếu bị lỗi kỹ thuật do
                            sản xuất, thì sẽ được đổi sản phẩm mới cùng loại theo điều kiện đổi dưới đây:
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            <b>Điều kiện đổi:</b>
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            + Không vi phạm các điều kiện bảo hành,trong vòng 30 ngày kể từ ngày mua hàng hoặc nhận hàng.
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            + Sản phẩm chưa qua sử dụng.
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            + Đầy đủ bao bì, còn nhãn tag đính kèm trên sản phẩm, Hóa đơn mua hàng.
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            + Trường hợp không đủ các điều kiện trên thì quyền quyết định đổi hàng thuộc về <b>DEGREY</b>
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            Sau thời gian trên hoặc những trường hợp không đủ điều kiện đổi hàng thì tất cả các sản phẩm sẽ được bảo hành theo những quy định,
                            chính sách chung của <b>DEGREY.</b> Trường hợp lý do nào đó sản phẩm chậm tiến trình đổi hàng <b>DEGREY</b> có trách nhiệm cập nhật thông tin, tình trạng, cho quý khách.
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            + Trả hàng: <b>DEGREY</b> không có chính sách trả hàng, nhưng hỗ trợ khách hàng nâng cấp sản phẩm nếu cảm thấy sản phẩm đã mua trước đó không phù hợp với nhu cầu sử dụng.
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            <b>
                                V. LIÊN HỆ, THẮC MẮC, KHIẾU NẠI VỀ VẤN ĐỀ ĐỔI HÀNG, BẢO HÀNH
                            </b>
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            Nếu Quý khách chưa thấy hài lòng hoặc có thắc mắc khiếu nại gì về vấn đề bảo hành, xin Quý khách vui lòng liên hệ tới <b>DEGREY</b> tại địa chỉ<b>
                                43 Huỳnh Văn Bánh P.17 Q.Phú Nhuận,
                                TP.HCM
                            </b>, Điện thoại: 033.63.1111.7 hoặc địa chỉ email: degrey.cskh@gmail.com
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            Toàn thể nhân viên<b>DEGREY</b>  xin chân thành cám ơn Quý khách hàng đã mua hàng của<b>DEGREY</b>.
                            Chắc chắn Quý khách hàng sẽ hài lòng về chất lượng dịch vụ và thái độ phục vụ tốt nhất từ <b>DEGREY</b>.
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">------------------</p>
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <p style="font-size:14px; margin-bottom:10px;"><b>THÔNG TIN TÀI KHOẢN DEGREY</b></p>
                                        <p style="font-size:14px; margin-bottom:10px;">- STK: 100960199999</p>
                                        <p style="font-size:14px; margin-bottom:10px;">Tên TK: Lê Giáng Ngọc</p>
                                        <p style="font-size:14px; margin-bottom:10px;">
                                            Ngân hàng: Vietinbank chi nhánh Lâm Đồng
                                        </p>
                                        <p style="font-size:14px; margin-bottom:10px;">- STK: 110884899999</p>
                                        <p style="font-size:14px; margin-bottom:10px;">Tên TK: Công ty TNHH Degrey</p>
                                        <p style="font-size:14px; margin-bottom:10px;">Ngân hàng: Vietinbank chi nhánh Lâm Đồng</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p style="font-size:14px; margin-bottom:10px;">
                            &nbsp;
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            <b>
                                Liên hệ DEGREY:
                            </b>
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            <b>
                                Điện thoại: 077.591.3335 – Hotline: 033.631.1117
                            </b>
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            <b>Email: degrey.vn@gmail.com Hoặc degrey.cskh@gmail.com</b>
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            <b>Website: degrey.vn</b>
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            <b>CÔNG TY TNHH DEGREY</b>
                        </p>
                        <p style="font-size:14px; margin-bottom:10px;">
                            <b>MST: 0315986019</b>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12 pageDetail-aside-right">
                <div class="sidebox">
                    <div class="dropdown-store">
                        <button onclick="myFunction()" class="dropbtn"><h3>Danh mục page</h3></button>

                        <div id="myDropdown" class="dropdown-content-store">
                            <a href="SanPham">SẢN PHẨM DEGREY</a>
                            <hr>
                            <a href="Store">STORE | CỬA HÀNG</a>
                            <hr>
                            <a href="#">DEGREY | ABOUT US</a>
                        </div>
                    </div>
                    <img style="width: 223.5px; height: 223.5px;" src="https://file.hstatic.net/1000281824/file/z3509830781478_ce69b71da0bf0aafd5d6455921bb9d4e_88f55bac63264b9c94bb5795b6a402d4.jpg" alt="Alternate Text" />
                </div>


            </div>
        </div>
    </div>
</div>
<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>


