
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    <link href="~/Content/store.css" rel="stylesheet" />
    <link href="~/Content/sanpham.css" rel="stylesheet" />
}
    <div class="main-store" style=" height: 16598px;">
        <div class="breadcrumb-all">
            <div class="container" style="height:100%">
                <div class="wrap-breadcrumb">
                    <ol class="breadcrumb-list">
                        <li><a href="Home">Trang chủ</a></li>
                        <li style="color: #777777;">Tất cả sản phẩm</li>
                    </ol>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-sm-8 col-xs-12">
                            <h1>Degrey is us - DGSUS</h1>

                            <img style="width:807.5px;height:538.3px" src="https://file.hstatic.net/1000281824/file/1dg_0109cbf1f1f648c19a97c5e6629a90dc.png" />

                            <p>
                                <span>
                                    Thành lập từ năm 2016 và được nhiều bạn trẻ biết đến qua những mẫu áo truyền thông, Degrey hiện đang từng bước khẳng định vị trí của mình trong bản đồ streetwear Việt Nam.
                                </span>
                            </p>

                            <img src="https://file.hstatic.net/1000281824/file/2dg_833e91b8aee842e0b7b29f1305818e96.png" />

                            <p>
                                <span>
                                    Cái tên Degrey được tạo ra rất ngẫu hứng, xuất phát từ “Chuỗi ngày u buồn về sự nghiệp, tương lai trong quá khứ của chính mình” – theo lời chia sẻ của Degrey’s founder. Là một local brand mang khuynh hướng Á Đông, kết hợp giữa hai yếu tố truyền thống và hiện đại, Degrey luôn cố gắng mang đến những thông điệp văn hoá ý nghĩa qua từng đường nét thiết kế. Tiếp theo đó sự sang trọng, thanh lịch cũng là những yếu tố tạo nên một Degrey đầy sức hút, sự lựa chọn hoàn hảo dành cho các bạn trẻ yêu thích phong cách hoài cổ nhưng vẫn muốn thoát xác trong những bộ cánh mới mẻ hơn.
                                </span>
                            </p>

                            <iframe height="454" src="https://www.youtube.com/embed/H7vcKCjX-IE" frameborder="0" allowfullscreen style="width: 100%;"></iframe>

                            <p>
                                <span>
                                    Degrey xin gửi lời cảm ơn đến tất cả những khách hàng đã, đang và sẽ ủng hộ Degrey cũng như Xoài thời gian qua và sắp tới. Cảm ơn rất nhiều !
                                </span>
                            </p>

                            <img src="https://file.hstatic.net/1000281824/file/3dg_3420a2957998471e86e35f4039c2442e.png" />

                            <p>
                                <span>
                                    Hiện nay, Degrey vẫn đang tiếp tục hoàn thiện và phát triển về sản phẩm cũng như mở rộng nhiều phong cách thời trang.
                                </span>
                            </p>

                            <img src="https://file.hstatic.net/1000281824/file/4dg_6744d70fb9444290b8c53ab92f168194.png" />

                            <p>
                                <span>
                                    Degrey may mắn được hợp tác với các thương hiệu cùng những người có sức ảnh hưởng đến giới trẻ tạo nên sự khác biệt và  góp phần bé nhỏ thổi hồn Việt vào thời trang.
                                </span>
                            </p>

                            <img src="https://file.hstatic.net/1000281824/file/5dg_67419f3a7ddf4ee4873b702f4e29e4fc.png" />

                            <<h4 class="_1mf _1mj" style="text-align: justify;"><a href="https://www.facebook.com/watch/?v=426291141383234"><strong>Degrey x Biti’s Hunter (Hơi thở Việt)</strong></a></h4>

                            <img src="https://file.hstatic.net/1000281824/file/6dg_4fbb0f940fcf4fea977e6a2e57b29157.png" />

                            <iframe height="454" src="https://www.youtube.com/embed/O6yvqvjuIgU?rel=0" frameborder="0" allowfullscreen style="width: 100%;"></iframe>

                            <p>
                                <span>
                                    Degrey x Pepsi (Catch the trend)
                                </span>
                            </p>

                            <img src="https://file.hstatic.net/1000281824/file/8dg_02e232efc7ad4c13b9bed04e3c9ccd1b.png" />

                            <p>
                                <span>
                                    Không còn xa lạ gì với Degrey – một local brand nổi tiếng với những sản phẩm phong phú về kiểu dáng và thiết kế lạ mắt. Với chương trình hợp tác cùng Pepsi, Degrey muốn gửi một thông điệp nhỏ qua bộ sưu tập: “Mình muốn pha màu sắc Á Đông của Degrey kết hợp cùng một thương hiệu bắt nguồn từ châu Âu. Nên các sản phẩm trong bộ sưu tập lần này mang trong mình một điều đặc biệt và mới mẻ”......
                                </span>
                            </p>

                            <h4><strong><a href="https://www.facebook.com/degrey.saigon/photos/a.1024483670978128/5958127490947030/?paipv=0&amp;eav=AfYvihcQgI042mBWzSwghEXuLFIX0HSYQ8t7sEfvAJCsrl6SdDIVkoXD2sCbGZm2ZNg&amp;_rdr">Degrey x Samsung Galaxy ZFlip 4</a></strong></h4>

                            <img src="https://file.hstatic.net/1000281824/file/9dg_bbae583d392d48b895c48b5b7158fac8.png" />

                            <h4 class="_1mf _1mj" style="text-align: justify;"><strong><a href="https://www.facebook.com/OfficialLinhNgocDam/posts/1869007799930796/">Degrey x Linh Ngọc Đàm (Katcream)&nbsp;</a></strong></h4>

                            <img src="https://file.hstatic.net/1000281824/file/7dg_a534d290fdb847d8a919a02ceb58b34c.png" />

                            <iframe height="454" src="https://www.youtube.com/embed/MY7F09rjQxE?rel=0" frameborder="0" allowfullscreen style="width: 100%;"></iframe>

                            <h4 class="_1mf _1mj" style="text-align: justify;"><strong><a href="https://www.facebook.com/degrey.saigon/posts/1897421773684309/">Degrey x Thỏ 7 màu</a></strong></h4>

                            <img src="https://file.hstatic.net/1000281824/file/11dg_12848c4187f849869a9259743e923e74.png" />

                            <h4 class="_1mf _1mj" style="text-align: justify;"><a href="https://www.facebook.com/degrey.saigon/videos/degrey-x-koo/1674569012636254/?locale=vi_VN"><strong>Degrey x Koo (Không chỉ là quần áo) </strong></a></h4>

                            <img src="https://file.hstatic.net/1000281824/file/10dg_5bd58f137fce4ad6bd1a27ae771bb4d1.png" />

                            <iframe height="454" src="https://www.youtube.com/embed/wnZWXRpGcZ4?rel=0" frameborder="0" allowfullscreen style="width: 100%;"></iframe>

                            <p>
                                <span>
                                    Không cần phải chạy theo xu hướng thị trường, thị hiếu của số đông. Cứ sáng tạo và tự do theo cách của mình muốn. Đó cũng chính là thông điệp của Koo và Degrey muốn gửi gắm cho các bạn thông qua sự kết hợp này.....
                                </span>
                            </p>

                            <h4 class="_1mf _1mj" style="text-align: justify;"><a href="https://www.facebook.com/degrey.saigon/posts/2244543462305470/?locale=vi_VN"><strong>Degrey – Mang thời trang đến gần underground (Degrey x Blacka)</strong></a></h4>

                            <img src="https://file.hstatic.net/1000281824/file/project-degrey_0ca096046bf64dd3becbffed5662907c.png" />

                            <iframe height="454" src="https://www.youtube.com/embed/FXxF19jJwMk?rel=0" frameborder="0" allowfullscreen style="width: 100%;"></iframe>

                            <iframe height="454" src="https://www.youtube.com/embed/gEJKVTKAhvE?rel=0" frameborder="0" allowfullscreen style="width: 100%;"></iframe>

                            <iframe height="454" src="https://www.youtube.com/embed/jlLd9unvGss?rel=0" frameborder="0" allowfullscreen style="width: 100%;"></iframe>

                            <p>
                                <span>
                                    Sản phẩm được lấy cảm hứng từ album "Foundation Vol. 4" của rapper tài năng Basick, quán quân cuộc thi “Show Me The Money" mùa 4."Chúng ta luôn phải tuân theo quy luật của cuộc sống.Nhưng với thời trang thì KHÔNG.Chúng tôi thoải mái làm những điều khác biệt.VÌ VẬY CHÚNG TÔI TÌM ĐẾN NHAU".......
                                </span>
                            </p>

                            <h4 class="_1mf _1mj" style="text-align: justify;"><br><a href="http://https://www.facebook.com/watch/?v=754349858105316"><strong>Degrey&nbsp;x Dirty Coins (Make love Not war)</strong></a></h4>

                            <iframe height="454" src="https://www.youtube.com/embed/hZLzbjN3yYE?rel=0" frameborder="0" allowfullscreen style="width: 100%;"></iframe>

                            <p>
                                <span>
                                    Degrey với các dự án đồng hành cùng Dirty coins không còn gì xa lạ đối với các bạn. Thông qua bst lần này, tụi mình muốn nhắn nhủ thông điệp thế giới cần tình yêu, hãy tạo yêu thương đừng gây chiến tranh.....
                                </span>
                            </p>

                            <h4 class="_1mf _1mj" style="text-align: justify;"><a href="https://www.facebook.com/degrey.saigon/posts/1754800284613126/?locale=vi_VN"><strong>Degrey – Các cô gái nhà Queen (Degrey x The Queen Team)</strong></a></h4>

                            <iframe height="454" src="https://www.youtube.com/embed/ufL1HtieaMo?rel=0" frameborder="0" allowfullscreen style="width: 100%;"></iframe>

                            <iframe height="454" src="https://www.youtube.com/embed/0MGYT8Je7P8?rel=0" frameborder="0" allowfullscreen style="width: 100%;"></iframe>

                            <h4 class="_1mf _1mj" style="text-align: justify;"><strong><a href="https://degrey.vn/blogs/news/degrey-x-dat-g">Degrey&nbsp;x Đạt G</a></strong></h4>

                            <iframe height="454" src="https://www.youtube.com/embed/rO92dxA-Ftc?rel=0" frameborder="0" allowfullscreen style="width: 100%;"></iframe>

                            <h4><br><strong>Một số dự án khác:</strong></h4>

                            <a href="https://www.facebook.com/cxg.vn/posts/1228362480919583/">Degrey x Cối Xay Gió&nbsp;</a>

                            <a href="https://www.facebook.com/photo?fbid=1470815350063818&amp;set=a.343612512784113">Degrey x Colkids</a>

                            <a href="https://www.facebook.com/degrey.saigon/posts/2667003790059433/">Degrey x Sly</a>

                            <span>
                                Degrey x Lechat
                                ........
                            </span>

                            <img src="https://file.hstatic.net/1000281824/file/12dg_840bf0a6214b40b4a66223ed233ba702.png" />

                            <strong>Hệ thống cửa hàng:</strong>

                            <pre><strong><span style="font-size:14px">SÀI GÒN:</span></strong>
                            <span style="font-size:14px">Q.Phú Nhuận: 43 Huỳnh Văn Bánh </span>
                            <span style="font-size:14px">Q.Tân Phú: 1041 Lũy Bán Bích</span><span style="font-size:14px"><strong> </strong></span>

                            <span style="font-size:14px"><strong>ĐÀ LẠT </strong></span>
                            <span style="font-size: 14px;">Phường 1: 11 Khu Hoà Bình</span><span style="font-size:14px"><strong> </strong></span></pre>

                            <img src="https://file.hstatic.net/1000281824/file/13dg_f8d69e12668e43b69f179522c1a1a49b.png" />

                            <pre class="_1mf _1mj" style="text-align: justify;"><span style="font-size:12pt"><strong>Link bài viết về Degrey:</strong></span>

                            <span style="color:#3366ff"><a target="_blank" rel="nofollow noopener noreferrer" style="color: #3366ff;" class="_42a-" href="https://l.facebook.com/l.php?u=https%3A%2F%2Fdantri.com.vn%2Fgiai-tri%2Fdegrey-thoi-trang-cuc-chat-tren-pho-khong-ngung-lot-xac-de-vuon-tam-20200605193026706.htm%3Ffbclid%3DIwAR0yREnmCYYStuowfUF5M4wIPBryD7I-ufH4KHG5ekgKZ66mcNzR5zvV6E4&amp;h=AT3T37JCVhsEPRhOsrIAyIdjQuCFXGeivzU2WgvByfSMSXZgsKZQjGgdYgTU4RMN1xwQzVB7ysccdr70k4m9QAxklfz8w2UedzWmdsdjsqaEceV13QgLP_BT6vDmQ--YPHQmvohYqkw">https://dantri.com.vn/giai-tri/degrey-thoi-trang-cuc-chat-tren-pho-khong-ngung-lot-xac-de-vuon-tam-20200605193026706.ht</a></span>

                            <span style="color:#3366ff"><a target="_blank" rel="nofollow noopener noreferrer" style="color: #3366ff;" class="_42a-" href="https://kenh14.vn/degrey-thoi-trang-duong-pho-cuc-chat-khong-ngung-lot-xac-de-vuon-tam-20200604122813325.chn?fbclid=IwAR3Tqs26QShK75l8uvZxBDkUej4dfngvfOnPLhkQ-bNb34o2UVLFdbEsMdY">https://kenh14.vn/degrey-thoi-trang-duong-pho-cuc-chat-khong-ngung-lot-xac-de-vuon-tam-20200604122813325.chn?fbclid=IwAR3wzE5Fc1kd624lz_SypMvnYybhodQNGZGb2BHoUTS5D4tneDWqwk3hRWk</a> </span>

                            <span style="color:#3366ff"><a target="_blank" rel="nofollow noopener noreferrer" style="color: #3366ff;" class="_42a-" href="https://l.facebook.com/l.php?u=https%3A%2F%2Fkenh14.vn%2Fdegrey-xu-huong-moi-cho-thoi-trang-a-dong-20180403133034643.chn%3Ffbclid%3DIwAR1muAqgcwf_0WLB-OjxRKzmZMFMDfKLaQDBEfP0NUZ5yUn5Z1QXHye5XQM&amp;h=AT3T37JCVhsEPRhOsrIAyIdjQuCFXGeivzU2WgvByfSMSXZgsKZQjGgdYgTU4RMN1xwQzVB7ysccdr70k4m9QAxklfz8w2UedzWmdsdjsqaEceV13QgLP_BT6vDmQ--YPHQmvohYqkw">https://kenh14.vn/degrey-xu-huong-moi-cho-thoi-trang-a-dong-20180403133034643.chn</a> </span>


                            <span style="color:#3366ff"><a target="_blank" rel="nofollow noopener noreferrer" style="color: #3366ff;" class="_42a-" href="https://kenh14.vn/cung-degrey-thoi-bung-ca-tinh-mua-he-nay-20190604233452921.chn?fbclid=IwAR03pkAusXgcrmAtMcA20KMsd4H6sCCc_htoEIFKBhfN9iA4yFrB18kuS8Q">https://kenh14.vn/cung-degrey-thoi-bung-ca-tinh-mua-he-nay-20190604233452921.chn</a> </span>


                            <span style="color:#3366ff"><a target="_blank" rel="nofollow noopener noreferrer" style="color: #3366ff;" class="_42a-" href="https://l.facebook.com/l.php?u=https%3A%2F%2Fkenh14.vn%2Fcung-degrey-chung-tay-tuyen-truyen-phong-tranh-covid-19-20200328123054299.chn%3Ffbclid%3DIwAR3pAFRb-ezk4rDXMVPuCC-BinbI0HdR2P2ZtR6iBVxJyTH4Yi4gz99WGxM&amp;h=AT3T37JCVhsEPRhOsrIAyIdjQuCFXGeivzU2WgvByfSMSXZgsKZQjGgdYgTU4RMN1xwQzVB7ysccdr70k4m9QAxklfz8w2UedzWmdsdjsqaEceV13QgLP_BT6vDmQ--YPHQmvohYqkw">https://kenh14.vn/cung-degrey-chung-tay-tuyen-truyen-phong-tranh-covid-19-20200328123054299.chn</a> </span>


                            <span style="color:#3366ff"><a target="_blank" rel="nofollow noopener noreferrer" style="color: #3366ff;" class="_42a-" href="https://l.facebook.com/l.php?u=https%3A%2F%2Fparttimestore.vn%2Fdiem-danh-4-mau-ao-khoac-degrey-chat-nhat-mua-dong-2019-n62030.html%3Ffbclid%3DIwAR3agV8Yrzh5ghw0vXeXdYgG-89j4_dXAy7_dEMmxfN-APL03P63-EKphCY&amp;h=AT3T37JCVhsEPRhOsrIAyIdjQuCFXGeivzU2WgvByfSMSXZgsKZQjGgdYgTU4RMN1xwQzVB7ysccdr70k4m9QAxklfz8w2UedzWmdsdjsqaEceV13QgLP_BT6vDmQ--YPHQmvohYqkw">https://parttimestore.vn/diem-danh-4-mau-ao-khoac-degrey-chat-nhat-mua-dong-2019-n62030.html</a> </span>


                            <span style="color:#3366ff"><a target="_blank" rel="nofollow noopener noreferrer" style="color: #3366ff;" class="_42a-" href="https://l.facebook.com/l.php?u=https%3A%2F%2Fkenh14.vn%2Fbat-nhip-xu-huong-streetstyle-dip-cuoi-nam-voi-loat-bst-cool-ngau-ca-tinh-2019122517075416.chn%3Ffbclid%3DIwAR0HgKB-765TAXd5EzWORTCLrdPVizgjcybKtxyxG58Z3CTO6JRQhhhG8To&amp;h=AT3T37JCVhsEPRhOsrIAyIdjQuCFXGeivzU2WgvByfSMSXZgsKZQjGgdYgTU4RMN1xwQzVB7ysccdr70k4m9QAxklfz8w2UedzWmdsdjsqaEceV13QgLP_BT6vDmQ--YPHQmvohYqkw">https://kenh14.vn/bat-nhip-xu-huong-streetstyle-dip-cuoi-nam-voi-loat-bst-cool-ngau-ca-tinh-2019122517075416.chn</a> </span>


                            <span style="color:#3366ff"><a target="_blank" rel="nofollow noopener noreferrer" style="color: #3366ff;" class="_42a-" href="https://l.facebook.com/l.php?u=https%3A%2F%2Fsaostar.vn%2Fthoi-trang%2Fhot-trend%2Fdegrey-thoi-trang-cuc-chat-tren-pho-khong-ngung-lot-xac-de-vuon-tam-7584447.html%3Ffbclid%3DIwAR3dr0LB3H3VS5FsiqQHnv2k_gZXKfEQww5Nb8UFcDh4_mCa3ywHocuW8zw&amp;h=AT3T37JCVhsEPRhOsrIAyIdjQuCFXGeivzU2WgvByfSMSXZgsKZQjGgdYgTU4RMN1xwQzVB7ysccdr70k4m9QAxklfz8w2UedzWmdsdjsqaEceV13QgLP_BT6vDmQ--YPHQmvohYqkw">https://saostar.vn/thoi-trang/hot-trend/degrey-thoi-trang-cuc-chat-tren-pho-khong-ngung-lot-xac-de-vuon-tam-7584447.html</a> </span>


                            <span style="color:#3366ff"><a target="_blank" rel="nofollow noopener noreferrer" style="color: #3366ff;" class="_42a-" href="https://yeah1.com/style/degrey-thoi-trang-cuc-chat-tren-pho-khong-ngung-lot-xac-de-vuon-tam-M6apvMREGg.html?fbclid=IwAR2L9hU-ujqImiiMy5OIWNN1iO-ckQEGiWi57Y3mRq6xHV4yUJ1yrRAwUwk">https://yeah1.com/style/degrey-thoi-trang-cuc-chat-tren-pho-khong-ngung-lot-xac-de-vuon-tam-M6apvMREGg.html?fbclid=IwAR1kHlr0FYHTfOBsBNmFoD6Y-mKtUowuKQKfXXBihHqFZyJUVT346-vaAN0</a> </span></pre>

                            <p>
                                <span>
                                    —————————————————-
                                </span>
                            </p>

                            <p>
                                <span>
                                    Hotline: 0336311117
                                </span>
                            </p>
                            <p>
                                <span style="font-size:11pt">Facebook: <span style="color:#3366ff"><a style="color: #3366ff;" href="https://www.facebook.com/degrey.saigon/">https://www.facebook.com/degrey.saigon/</a>.</span></span>
                            </p>

                            <p>
                                <span style="font-size:11pt">Instagram:<span style="color:#3366ff"> <a style="color: #3366ff;" href="https://www.instagram.com/degrey.saigon/ ">https://www.instagram.com/degrey.saigon/ </a><a rel="nofollow noopener noreferrer" target="_blank" style="color: #3366ff;" href="https://www.instagram.com/degrey.saigon/">&ZeroWidthSpace;</a>.</span></span>
                            </p>


                            <td style="width: 639px;"><p style="text-align: justify;"><strong>THÔNG TIN TÀI KHOẢN DEGREY</strong></p><p style="text-align: justify;">- STK: <a href="tel:100960199999">100960199999</a></p><p style="text-align: justify;">Tên TK:&nbsp;Lê Giáng Ngọc</p><p style="text-align: justify;">Ngân hàng: Vietinbank chi nhánh Lâm Đồng</p><p style="text-align: justify;">&nbsp;</p><p style="text-align: justify;">- STK: <a href="tel:110884899999">110884899999</a></p><p style="text-align: justify;">Tên TK: Công ty TNHH Degrey</p><p style="text-align: justify;">Ngân hàng: Vietinbank chi nhánh Lâm Đồng</p><p style="text-align: justify;">&nbsp;</p></td>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12 pageDetail-aside-right">
                            <div class="sidebox">
                                <div class="dropdown-store">
                                    <button onclick="myFunction()" class="dropbtn"><h3>Danh mục page</h3></button>

                                    <div id="myDropdown" class="dropdown-content-store">
                                        <a href="SanPham">SẢN PHẨM DEGREY</a>
                                        <hr>
                                        <a href="Store">STORE | CỬA HÀNG</a>
                                        <hr>
                                        <a href="#">DEGREY | ABOUT US</a>
                                    </div>
                                </div>
                                <img style="width: 223.5px; height: 223.5px;" src="https://file.hstatic.net/1000281824/file/z3509830781478_ce69b71da0bf0aafd5d6455921bb9d4e_88f55bac63264b9c94bb5795b6a402d4.jpg" alt="Alternate Text" />
                            </div>


                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>






