
@{
    ViewBag.Title = "Store";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    <link href="~/Content/store.css" rel="stylesheet" />
    <link href="~/Content/sanpham.css" rel="stylesheet" />
    @*<link href="~/Content/header-footer.css" rel="stylesheet" />*@
}
<div class="main-store">
    <div class="breadcrumb-all">
        <div class="container" style="height:100%">
            <div class="wrap-breadcrumb">
                <ol class="breadcrumb-list">
                    <li><a href="Home">Trang chủ</a></li>
                    <li style="color: #777777;">Tất cả sản phẩm</li>
                </ol>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-8 col-xs-12 pageDetail-main-left">
                        <div class="wrap-title">
                            <h3 class="title-store">HỆ THỐNG CỬA HÀNG DEGREY</h3>
                            <iframe height="454" src="https://www.youtube.com/embed/kQ_pyG0jatk" frameborder="0" allowfullscreen style="width: 100%;"></iframe>


                            <h1 style="text-align: center;">
                                <img src="//file.hstatic.net/1000281824/file/bieu-tuong-dia-chi-png-dep_e540b91d0e034a2589f15e4f3b798e72_pico.png">&nbsp;
                                <strong>
                                    <span style="font-size:15px">43 Huỳnh Văn Bánh P.17&nbsp;Quận&nbsp;Phú Nhuận -&nbsp;</span>
                                </strong>
                                <span style="font-size:15px">
                                    <strong>SÀI GÒN</strong>
                                </span>
                            </h1>
                            <h1 style="text-align: center;">
                                <img style="width: 211px; height: 290px;" src="//file.hstatic.net/1000281824/file/lbb2_3c0c7dbefcd5417097173f7b2b6d6287_medium.jpg">&nbsp;
                                <img style="width: 211px; height: 290px;" src="//file.hstatic.net/1000281824/file/img_8447_00fd11bd37b042849d99678c5f116091_medium.jpg">&nbsp;
                            </h1>
                            <div class="map-container">
                                <iframe height="454"
                                        frameborder="0"
                                        style="border: 0; width: 100%"
                                        src="https://maps.app.goo.gl/7HTEV61DqZpj1j6d9"
                                        allowfullscreen>
                                </iframe>
                            </div>
                            <h1 style="text-align: center;">
                                <strong>
                                    <img src="//file.hstatic.net/1000281824/file/bieu-tuong-dia-chi-png-dep_e540b91d0e034a2589f15e4f3b798e72_pico.png">&nbsp;
                                    <span style="font-size:15px">
                                        1041&nbsp;Lũy Bán Bích&nbsp;P.Tân Thành&nbsp;Quận&nbsp;Tân Phú -
                                        <span style="color:#000000">
                                            &nbsp;
                                        </span>SÀI GÒN
                                    </span>
                                </strong>
                            </h1>
                            <h1 style="text-align: center;">
                                <img style="width: 211px; height: 290px;" src="//file.hstatic.net/1000281824/file/lbb6_4e0b7beb03b74b7f90769f1d08810d4c_medium.jpg">&nbsp;
                                <img style="width: 211px; height: 290px;" src="//file.hstatic.net/1000281824/file/img_7668_e9292d56d2fa40d09256574eeb423c90_medium.jpg">&nbsp;
                            </h1>
                            <div class="map-container">
                                <iframe height="454"
                                        frameborder="0"
                                        style="border: 0; width: 100%"
                                        src="https://maps.app.goo.gl/7HTEV61DqZpj1j6d9"
                                        allowfullscreen>
                                </iframe>
                            </div>
                            <div class="media" style="padding-top: 40px;">
                                <p style="text-align: justify;">
                                    <span style="font-size: 15px">
                                        <strong style="margin-left: 3px;">Hotline</strong><strong><a>: 0336311117</a></strong>
                                    </span>
                                </p>
                                <p style="text-align: justify;"><img src="https://file.hstatic.net/1000281824/file/fb_15215b561f504b139fdb35856eaa7290_icon.png">&nbsp;&nbsp;<a>https://www.facebook.com/degrey.saigon</a></p>
                                <hr>
                                <p style="text-align: justify;"><img src="https://file.hstatic.net/1000281824/file/ig_d1b18ea170384347808d4e782daac98d_icon.png">&nbsp;&nbsp;<a>https://www.instagram.com/degrey.saigon/</a></p>
                                <hr>
                                <p style="text-align: justify;"><img src="https://file.hstatic.net/1000281824/file/tiktok_eddd53a7150d4de489a9ccf8dc5bf5d0_icon.png">&nbsp;<a>https://www.tiktok.com/degrey.vn</a></p>
                                <hr>
                                <p style="text-align: justify;"><img src="https://file.hstatic.net/1000281824/file/youtube_f86089dee31340fe8b215049d4a8d401_icon.png">&nbsp;<a>https://www.youtube.com/degreyvn</a></p>
                                <hr>
                                <p style="text-align: justify;"><img src="https://file.hstatic.net/1000281824/file/sp1_71c31a6c127340f5ac8cf33346736e3b_icon.png">&nbsp;<a>https://shopee.vn/degrey.vn</a></p>
                                <hr>
                                <p style="text-align: justify;"><img src="https://file.hstatic.net/1000281824/file/lzd_48cf94502c9e448089c717b548e2997a_icon.png">&nbsp;<a>https://www.lazada.vn/shop/degrey-vietnam/</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12 pageDetail-aside-right">
                        <div class="sidebox">
                            <div class="dropdown-store">
                                <button onclick="myFunction()" class="dropbtn"><h3>Danh mục page</h3></button>

                                <div id="myDropdown" class="dropdown-content-store">
                                    <a href="SanPham">SẢN PHẨM DEGREY</a>
                                    <hr>
                                    <a href="Store">STORE | CỬA HÀNG</a>
                                    <hr>
                                    <a href="#">DEGREY | ABOUT US</a>
                                </div>
                            </div>
                            <img style="width: 223.5px; height: 223.5px;" src="https://file.hstatic.net/1000281824/file/z3509830781478_ce69b71da0bf0aafd5d6455921bb9d4e_88f55bac63264b9c94bb5795b6a402d4.jpg" alt="Alternate Text" />
                        </div>


                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>

