
@{
    ViewBag.Title = "ThongTinSoHuu";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    <link href="~/Content/store.css" rel="stylesheet" />
    <link href="~/Content/sanpham.css" rel="stylesheet" />

   
}



<div class="main-content-product" style="height:1414px">
    <div class="breadcrumb-all">
        <div class="container" style="height:100%">
            <div class="wrap-breadcrumb">
                <ol class="breadcrumb-list">
                    <li><a href="Home">Trang chủ</a></li>
                    <li style="color: #777777;">Tất cả sản phẩm</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8 col-xs-12 pageDetail-content-left">
                <div class="pageDetail-content2">
                    <div class="heading-pageDetail"><h1 style=" margin-bottom: 25px;">Thông tin sở hữu </h1></div>
                    <div class="content2-pageDetail">
                        <p style=" margin-bottom: 10px; font-size: 14px;"><b>Thông tin về chủ sở hữu </b></p>
                        <p style="margin-bottom :10px;">
                            <b style="font-size: 14px;">
                                Công ty TNHH DEGREY
                            </b>
                        </p>
                        <p style="font-size: 14px; margin-bottom :10px;">
                            - Tên đơn vị/cá nhân: NGUYỄN NHẬT HOÀNG
                        </p>
                        <p style="font-size: 14px; margin-bottom: 10px;">
                            - Địa chỉ: 43 Huỳnh Văn Bánh  P.17 Q.Phú Nhuận, TP. Hồ Chí Min, địa chỉ trụ sở của đơn vị
                        </p>
                        <p style="font-size: 14px; margin-bottom: 10px;">
                            - Mã số thuế: 0315986019
                        </p>
                        <p style="font-size: 14px; margin-bottom: 10px;">
                            - Giấy chứng nhận đăng ký kinh doanh: 0315986019
                        </p>
                        <p style="font-size: 14px; margin-bottom: 10px;">
                            - Quyết định thành lập: ngày 31 tháng 10 năm 2019
                        </p>
                        <p style="font-size: 14px; margin-bottom: 10px;">
                            Nơi cấp: Sở kế hoạch và đầu tư Thành phố Hồ Chí Minh (Phòng đăng ký kinh doanh)
                        </p>
                        <p style="font-size: 14px; margin-bottom: 10px;">
                            <b>
                                Website: degrey.vn
                            </b>
                        </p>
                        <p style="font-size: 14px; margin-bottom: 10px;">
                            &nbsp;
                        </p>
                        <p style="font-size: 14px; margin-bottom: 10px;">
                            <b>Hotline: 033.63.1111.7 </b>
                        </p>
                        <p style="font-size: 14px; margin-bottom: 10px;">
                            <b>Email: degrey.vn@gmail.com Hoặc degrey.cskh@gmail.com</b>
                        </p>
                        <p style="font-size: 14px; margin-bottom: 10px;">
                            <b>————-GIẤY PHÉP KINH DOANH CỦA DEGREY————–</b>
                        </p>
                        <p style="font-size: 14px; margin-bottom: 10px;">
                            <img src="//file.hstatic.net/1000281824/file/gpkd_9c9a12439d5846008265bb14f8426b62_grande.png">
                        </p>
                        <p style="font-size: 14px; margin-bottom: 10px; ">
                            <b>Hệ thống cửa hàng: </b>
                        </p>
                        <ul style="font-size: 14px; margin-bottom: 10px;">
                            <li>
                                HCM - Q.Phú Nhuận: 43 Huỳnh Văn Bánh
                            </li>
                            <li>
                                HCM - Q.Tân Phú: 1041 Lũy Bán Bích
                            </li>
                            <li>
                                HCM - Q.1: 26 Lý Tự Trọng (TNP)
                            </li>
                            <li>
                                ĐÀ LẠT - 11 Khu Hoà Bình, P.1
                            </li>
                        </ul>
                        <p style="font-size: 14px; margin-bottom: 10px;">
                            &nbsp;
                        </p>
                        <p style="font-size: 14px; margin-bottom: 10px;">
                            <b>Facebook&nbsp;</b> : <a>https://www.instagram.com/degrey.saigon/&nbsp;</a>
                        </p>
                        <p style="font-size: 14px; margin-bottom: 10px;">
                            <b>Instagram&nbsp;</b> : <a>https://www.instagram.com/degrey.saigon/&nbsp;</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12 pageDetail-content-right">
                <div class=".pageDetail-content2">
                    <div class="sidebox">
                        <div class="dropdown-store">
                            <button onclick="myFunction()" class="dropbtn">Danh mục page</button>

                            <div id="myDropdown" class="dropdown-content-store">
                                <a href="SanPham">SẢN PHẨM DEGREY</a>
                                <hr>
                                <a href="Store">STORE | CỬA HÀNG</a>
                                <hr>
                                <a href="#">DEGREY | ABOUT US</a>
                            </div>
                        </div>
                        <img style="width: 262px; height: 262px; position: relative; top: 0;" src="https://file.hstatic.net/1000281824/file/z3509830781478_ce69b71da0bf0aafd5d6455921bb9d4e_88f55bac63264b9c94bb5795b6a402d4.jpg" alt="Alternate Text" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>

